[MASTER]
ignore-patterns=.*_test\.py,.*test_.*\.py
init-hook='import sys; sys.path.append(".env/lib/python3.9/site-packages")'
[FORMAT]
max-line-length=120
disable=consider-using-f-string,logging-format-interpolation,logging-fstring-interpolation,invalid-name,too-few-public-methods,unspecified-encoding, import-error